<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Anaheim:wght@400;800&family=Aladin&family=Alatsi&family=Chela+One&family=Altafi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Akronim&family=Aladin&display=swap" rel="stylesheet">

<section class="about">
    <div class="about-container">
      <img src="../../assets/barbershop team-pana.svg" alt="Our Team" class="about-img">
      <div class="about-text">
        <h1>About Us</h1>
        <p>Glamour Haven is dedicated to providing top-notch beauty services with a focus on quality and customer satisfaction. Our experienced team is committed to making you look and feel your best.</p>
        <p>We offer a range of services from hair styling to skincare, all designed to cater to your unique beauty needs. Visit us and experience the best in beauty care!</p>
      </div>
    </div>
  </section>
  


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Altafi:wght@400;700&display=swap" rel="stylesheet">
    <section class="team-section">
      <h3>Our Team</h3>
      <div class="team-members">
        <div class="member">
          <img src="../../assets/messy bun-amico.svg" alt="Team Member 1" class="member-img">
          <p class="name">Gayatri Naik <br> Senior Stylist</p>
        </div>
        <div class="member">
          <img src="../../assets/boy.png" alt="Team Member 2" class="member-img">
          <p class="name">Tushar Pawar <br> Skincare Specialist</p>
        </div>
        <div class="member">
          <img src="../../assets/messy bun-pana.svg" alt="Team Member 3" class="member-img">
          <p class="name">Komal Shrivastwa <br> Hair-Styling Specialist</p>
        </div>
        <div class="member">
          <img src="../../assets/Curly hair-bro.svg" alt="Team Member 4" class="member-img">
          <p class="name">Grishma Patle <br> Makeup Specialist</p>
        </div>
      </div>
    </section>