<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Anaheim:wght@400;800&family=Aladin&family=Alatsi&family=Chela+One&family=Altafi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Akronim&family=Aladin&display=swap" rel="stylesheet">

<section class="services">
  <h2>Our Services</h2>
  <div class="service-list">
    <div class="service-item">
      <div class="card shadow"></div>
      <img src="../../assets/Acne treatment-amico.svg" alt="Facial Treatments">
      <h3>Facial Treatments</h3>
      <p>Rejuvenate your skin with our range of facial treatments designed to refresh and revitalize.</p>
    </div>
    <div class="service-item">
      <div class="card shadow"></div>
      <img src="../../assets/hairdresser team-pana.svg" alt="Hair Styling">
      <h3>Hair Styling</h3>
      <p>From trendy cuts to elegant styles, our expert stylists will help you achieve the look you desire.</p>
    </div>
    <div class="service-item">
      <div class="card shadow"></div>
      <img src="../../assets/Waterproof makeup-pana.svg" alt="Makeup">
      <h3>Makeup</h3>
      <p>Get professional makeup application for any occasion, ensuring you look your best.</p>
    </div>
  </div>
</section>